<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Inyector de audio</h3>
            <p>Diseño y fabricación de inyector de audio para pruebas de equipos (en construcción)</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/inyaudio1.jpg" class="img-fluid img-proyecto">
            <p></p>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Probador de controles remotos</h3>
            <p>Dispositivo realizado para la prueba de controles remotos</p>
            <p></p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <p></p>
            <img src="../../../assets/probcontremoto.jpg" class="img-fluid img-proyecto2">
        </div>
    </div>
</div>

