<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
            <img src="../../../assets/LogosInti.png" id="logoIN">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/carlos-gomez-b9b91856/" target="_blank"><img class="zoom" src="../../../assets/linkedin.png"></a>
            <a href="https://twitter.com/charlyg49" target="_blank"><img src="../../../assets/twitter.png"></a>
            <a href="https://z-p15.www.instagram.com/charlyg50/" target="_blank"><img src="../../../assets/instagram.png"></a>
            <a href="https://github.com/charly49" target="_blank"><img src="../../../assets/github.png"></a>
            <a href="https://www.facebook.com/carlos.e.gomez.148" target="_blank"><img src="../../../assets/facebook.png" ></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

